.app-wrapper{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "header header "
  "nav content ";
  grid-template-rows: 60px 1fr ;
  grid-template-columns: 2fr 10fr;
   grid-gap: 3px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.app-wrapper-content{
  
    grid-area: content;
    background-color: rgb(198, 223, 235);
  
  
}
