.Dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
 


.DialogsItems  {
padding: 10px;
text-decoration: none;
}
.DialogsItems .dialog {
    text-decoration: none;
    
    
}
.DialogsItems .active{
    color: pink;
}



.messages{
    padding: 10px;
}



    
